@use "sass:map";
@import "../../scss/dh-nautilus.theme.scss";
.MuiCard-root.blog-post-preview {
  color: map.get($dh-color-system, "white");
  border-radius: 15px;
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    map.get($dh-color-system, "primary-darker"),
    map.get($dh-color-system, "secondary-darker")
  );
  background-size: 200%;
  width: 300px;
  transition: all 0.4s cubic-bezier(0.49, 0.04, 0, 1);
  &:hover {
    transform: scale(1.05);
    background-position: 100%;
  }

  .fillSpan {
    transform: scale(2) translate(8px, -1px);
  }
  .MuiCardMedia-root.blog-post-preview-page-img {
    pointer-events: none;
    background-color: map.get($dh-color-system, "white");
    object-fit: contain;
  }
  .MuiCardHeader-root {
    height: 150px;
    .MuiCardHeader-content {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-wrap: break-word;
    }
  }
  .MuiCardContent-root {
    height: 150px;
    > p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .MuiCardActions-root {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}
